.page-login {
  overflow: hidden;
  position: relative;
}
.page-login .page-content {
  text-align: center;
  height: 100%;
  min-height: calc(100% - 44px);
  vertical-align: middle;
}
.page-login .page-content:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.page-login .page-login-top {
  position: absolute;
  top: 30px;
  left: 40px;
}
.page-login .page-login-top img {
  width: 100%;
}
.page-login .page-login-body {
  margin-top: 55px;
  margin-bottom: 20px;
  display: inline-block;
  background: #ffffff;
  box-shadow: 1px 0px 8px 5px #e5e0e0;
  border-radius: 3px;
  overflow: hidden;
  vertical-align: middle;
}
.page-login .page-login-body .page-right {
  float: left;
  width: 380px;
  padding: 50px;
}
.page-login .page-login-body .page-right h2 {
  color: #3D93FF;
  margin-bottom: 45px;
}
.page-login .page-login-body .form-material {
  position: relative;
  margin-bottom: 45px;
}
.page-login .page-login-body .form-material .form-control {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  padding: 0;
  -webkit-background-size: 0 2px, 100% 1px;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(100% - 1px);
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  float: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3B92FF), to(#3B92FF)), -webkit-gradient(linear, left top, left bottom, from(#999999), to(#999999));
  background-image: -webkit-linear-gradient(#3B92FF, #3B92FF), -webkit-linear-gradient(#999999, #999999);
  background-image: -o-linear-gradient(#3B92FF, #3B92FF), -o-linear-gradient(#9999990 0 0, #999999);
  background-image: linear-gradient(#3B92FF, #3B92FF), linear-gradient(#999999, #999999);
}
.page-login .page-login-body .form-material .form-control:focus {
  outline: 0;
  -webkit-background-size: 100% 2px, 100% 1px;
  background-size: 100% 2px, 100% 1px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.page-login .page-login-body .form-material label {
  position: absolute;
  pointer-events: none;
  left: 0;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  color: #a3afb7;
  font-weight: 300;
  font-size: 14px;
  top: 8px;
}
.page-login .page-login-body .form-material .form-control:focus ~ .floating-label {
  color: #3B92FF;
  font-weight: 500;
  top: -11.2px;
  font-size: 11.2px;
}
.page-login .page-login-body .form-material .form-control:not(.empty) ~ .floating-label {
  top: -11.2px;
  font-size: 11.2px;
}
.page-login .page-login-body .btn-login {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0;
  color: #fff;
  background-color: #3B92FF !important;
  border-color: #3B92FF !important;
}
.page-login .page-login-body .btn-login:active,
.page-login .page-login-body .btn-login:hover {
  background-color: #1388e2 !important;
  border-color: #1388e2 !important;
}
